.home-container {
  background-image: url("../../images/home-banner1.png");
  height: calc(100vh - 70px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-title {
  font-weight: 800;
  font-size: 50px;
}
.home-container p {
  font-size: 20px;
}

/* Responsive Design */
@media (max-width: 767px) {
  .home-container {
    height: fit-content;
    padding-bottom: 30px;
  }
  .home-container .info-container {
    width: 100%;
    text-align: center;
  }
  .home-title {
    font-size: 40px;
  }
  .button-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .button-area button {
    display: block;
    width: 100%;
  }
}

@media (min-width: 991px) {
  .home-container .info-container {
    width: 75%;
  }
}
