.logo {
  font-weight: 700;
}
.header {
  background-color: black;
}
.link-container a {
  font-weight: 500;
}

@media (max-width: 991px) {
  .n-link {
    display: block !important;
    margin-top: 10px;
  }
}
