#footer {
  background: black;
}
#footer img {
  width: 200px;
}
#footer a,
#footer .address-footer,
#footer .address-title {
  color: #c4c4c4;
  font-size: 15px;
}
#footer .footer__copyright__text {
  background: #14121ae8;
}
.footer-link a {
  text-decoration: none;
}
.footer-link a:hover {
  text-decoration: underline;
}
